<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfc08c64-1da4-4669-91ff-c4de8544f1bf" Alias="About Me" Level="2">
  <Info>
    <Parent Key="c9a9e3b1-4d28-42a2-97df-71b85711b16b">My Static Website</Parent>
    <Path>/MyStaticWebsite/AboutMe</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2022-08-02T12:10:44</CreateDate>
    <NodeName Default="About Me" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ed21a7-40f6-4c35-87d9-89074ae49e4c">Json</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fbeb188d9cfe41b1937119b3f8d2d396"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bf45efa1-eb84-4933-a0c4-4a3d3082256f",
      "udi": "umb://element/fbeb188d9cfe41b1937119b3f8d2d396",
      "copy": "<p style=\"text-align: center;\"><strong>Hi, I'm Mark Drake</strong></p>\n<p style=\"text-align: center;\">I help and support marketing efforts through human-focused design, combining data from multiple systems, and crafting unique experiences.</p>\n<p style=\"text-align: center;\">Here I'm a web developer showing how one could use the Umbraco CMS to generate a static website.</p>",
      "image": "[]",
      "label": "About Mark Drake"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value><![CDATA[Read more about the author, Mark Drake.]]></Value>
    </description>
    <keywords>
      <Value><![CDATA[["Mark Drake","Next Player Up","Web Design","Web Development","Software Design","Software Development","Mobile Design","Mobile Development","Mixed Reality","Augmented Reality","Virtual Reality"]]]></Value>
    </keywords>
    <openGraph>
      <Value><![CDATA[]]></Value>
    </openGraph>
    <title>
      <Value><![CDATA[About Me]]></Value>
    </title>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>