<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff691058-31ce-4feb-b815-bb3dff19bd43" Alias="Contact Me" Level="2">
  <Info>
    <Parent Key="c9a9e3b1-4d28-42a2-97df-71b85711b16b">My Static Website</Parent>
    <Path>/MyStaticWebsite/ContactMe</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2022-08-02T12:10:38</CreateDate>
    <NodeName Default="Contact Me" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ed21a7-40f6-4c35-87d9-89074ae49e4c">Json</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee78fc3ebb274f8f86cd5edfdbd6c0bf"
      },
      {
        "contentUdi": "umb://element/8962efbbeeca4d0090c734e4be100797"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bf45efa1-eb84-4933-a0c4-4a3d3082256f",
      "udi": "umb://element/ee78fc3ebb274f8f86cd5edfdbd6c0bf",
      "copy": "<p style=\"text-align: center;\"><strong>Contact Mark Drake</strong></p>",
      "image": "[]",
      "label": "Contact Mark Drake"
    },
    {
      "contentTypeKey": "4244e13e-1b3e-4ad7-a91e-b2a7a66665c9",
      "udi": "umb://element/8962efbbeeca4d0090c734e4be100797",
      "Content": "<p>Some example copy.</p>",
      "label": "Social Profiles"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value><![CDATA[How to contact the author, Mark Drake.]]></Value>
    </description>
    <keywords>
      <Value><![CDATA[["Contact","Sponsor","Hire"]]]></Value>
    </keywords>
    <openGraph>
      <Value><![CDATA[]]></Value>
    </openGraph>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>