<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9a9e3b1-4d28-42a2-97df-71b85711b16b" Alias="My Static Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MyStaticWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>webSite</ContentType>
    <CreateDate>2022-08-02T12:13:11</CreateDate>
    <NodeName Default="My Static Website" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ed21a7-40f6-4c35-87d9-89074ae49e4c">Json</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5c0fe8672edb4992b3c57c2135ce2f20"
      },
      {
        "contentUdi": "umb://element/a39f220714344aebb12ae54dc0adaebb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bf45efa1-eb84-4933-a0c4-4a3d3082256f",
      "udi": "umb://element/5c0fe8672edb4992b3c57c2135ce2f20",
      "copy": "<p style=\"text-align: center;\"><strong>My Static Website</strong></p>\n<p style=\"text-align: center;\">The content for this static website is managed through the Umbraco 10 CMS. If you'd like to know more about this project, use the links below.</p>",
      "image": "[\n  {\n    \"key\": \"f93e79ef-6d54-47fa-8748-d1e4f146be63\",\n    \"mediaKey\": \"0acc2da9-750d-40bb-bbe9-403c6f08b2cc\",\n    \"focalPoint\": {\n      \"left\": 0.514,\n      \"top\": 0.4180327868852459\n    }\n  }\n]",
      "imagePosition": "Bottom",
      "label": "My Static Website"
    },
    {
      "contentTypeKey": "58149b2e-8d40-4f5f-9882-43c0a39a7c7b",
      "udi": "umb://element/a39f220714344aebb12ae54dc0adaebb",
      "label": "Benefits"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value><![CDATA[This static web site is generated from dynamic content provided by the Umbraco 10 CMS.]]></Value>
    </description>
    <keywords>
      <Value><![CDATA[["Umbraco 10","Static Web Site","Static Web Site Generator"]]]></Value>
    </keywords>
    <openGraph>
      <Value><![CDATA[]]></Value>
    </openGraph>
    <title>
      <Value><![CDATA[Static Website Managed from Umbraco 10 CMS]]></Value>
    </title>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>