<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bf49847-9b76-4266-9a19-8370b76f33b4" Alias="Web Site Settings" Level="2">
  <Info>
    <Parent Key="c9a9e3b1-4d28-42a2-97df-71b85711b16b">My Static Website</Parent>
    <Path>/MyStaticWebsite/WebSiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>webSiteSettings</ContentType>
    <CreateDate>2022-08-02T12:14:01</CreateDate>
    <NodeName Default="Web Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ed21a7-40f6-4c35-87d9-89074ae49e4c">Json</Template>
  </Info>
  <Properties>
    <properties>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a9badecb92e843689675cce4fd586dc1"
      },
      {
        "contentUdi": "umb://element/67a11b344c264f739dde01cea4384215"
      },
      {
        "contentUdi": "umb://element/03fb83181ae34571b0d906cb31fe6776"
      },
      {
        "contentUdi": "umb://element/dde0c80e45634212a068f4ff23cd43d1"
      },
      {
        "contentUdi": "umb://element/f506cc1555c44d42adcc40f294fea760"
      },
      {
        "contentUdi": "umb://element/e421cdb902db44ebb9ecd9dae0a29fa7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "udi": "umb://element/f506cc1555c44d42adcc40f294fea760",
      "label": "Twitter",
      "link": "https://twitter.com"
    },
    {
      "contentTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "udi": "umb://element/dde0c80e45634212a068f4ff23cd43d1",
      "label": "LinkedIn",
      "link": "https://linkedin.com"
    },
    {
      "contentTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "udi": "umb://element/a9badecb92e843689675cce4fd586dc1",
      "label": "YouTube",
      "link": "https://youtube.com"
    },
    {
      "contentTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "udi": "umb://element/03fb83181ae34571b0d906cb31fe6776",
      "label": "GitHub",
      "link": "https://github.com"
    },
    {
      "contentTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "udi": "umb://element/e421cdb902db44ebb9ecd9dae0a29fa7",
      "label": "Instagram",
      "link": "https://instagram.com"
    },
    {
      "contentTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "udi": "umb://element/67a11b344c264f739dde01cea4384215",
      "label": "Polywork",
      "link": "https://www.polywork.com/markdrake"
    }
  ],
  "settingsData": []
}]]></Value>
    </properties>
    <settingsNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b52da125253947dc8c935f0295376549"
      },
      {
        "contentUdi": "umb://element/9e9ec22033a04ee1b32489ff20daeb8b"
      },
      {
        "contentUdi": "umb://element/143c4853b0e54150b5216333a8d11793"
      },
      {
        "contentUdi": "umb://element/761e106d68514ef9ba6fb11251dd2d1c"
      },
      {
        "contentUdi": "umb://element/cdec49169cbe4cf7b2c8fd422b454d54"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b83a18ed-4984-47a8-8a93-1527ba2b7911",
      "udi": "umb://element/b52da125253947dc8c935f0295376549",
      "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/c9a9e3b14d2842a297df71b85711b16b\"}]"
    },
    {
      "contentTypeKey": "b83a18ed-4984-47a8-8a93-1527ba2b7911",
      "udi": "umb://element/9e9ec22033a04ee1b32489ff20daeb8b",
      "link": "[{\"name\":\"About Me\",\"udi\":\"umb://document/cfc08c641da4466991ffc4de8544f1bf\"}]"
    },
    {
      "contentTypeKey": "b83a18ed-4984-47a8-8a93-1527ba2b7911",
      "udi": "umb://element/143c4853b0e54150b5216333a8d11793",
      "link": "[{\"name\":\"My Portfolio\",\"udi\":\"umb://document/8570fa715ecd4cc191281639d24273f0\"}]"
    },
    {
      "contentTypeKey": "b83a18ed-4984-47a8-8a93-1527ba2b7911",
      "udi": "umb://element/761e106d68514ef9ba6fb11251dd2d1c",
      "link": "[{\"name\":\"Contact Me\",\"udi\":\"umb://document/ff69105831ce4febb815bb3dff19bd43\"}]"
    },
    {
      "contentTypeKey": "5fdf9442-fc8d-4f83-beaa-7ea49718da75",
      "udi": "umb://element/cdec49169cbe4cf7b2c8fd422b454d54",
      "label": "Resources",
      "links": "{\n  \"layout\": {\n    \"Umbraco.BlockList\": [\n      {\n        \"contentUdi\": \"umb://element/5f8c147cb6e94d5394736cae8208545b\"\n      },\n      {\n        \"contentUdi\": \"umb://element/83bd42909aa3482eb30e27ffe8df9a07\"\n      }\n    ]\n  },\n  \"contentData\": [\n    {\n      \"contentTypeKey\": \"b83a18ed-4984-47a8-8a93-1527ba2b7911\",\n      \"udi\": \"umb://element/83bd42909aa3482eb30e27ffe8df9a07\",\n      \"link\": \"[{\\\"name\\\":\\\"Source Code on GitHub\\\",\\\"target\\\":\\\"_blank\\\",\\\"url\\\":\\\"https://github.com/markadrake/example-of-umbraco-10-static\\\"}]\"\n    },\n    {\n      \"contentTypeKey\": \"b83a18ed-4984-47a8-8a93-1527ba2b7911\",\n      \"udi\": \"umb://element/5f8c147cb6e94d5394736cae8208545b\",\n      \"link\": \"[{\\\"name\\\":\\\"What is Umbraco?\\\",\\\"target\\\":\\\"_blank\\\",\\\"url\\\":\\\"https://umbraco.com/products/umbraco-cms/\\\"}]\"\n    }\n  ],\n  \"settingsData\": []\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </settingsNavigation>
  </Properties>
</Content>