<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c647f3c3-db6f-46de-b5b0-1f080155666b" Alias="Block List for Social Media Properties" Level="1">
  <Info>
    <Name>Block List for Social Media Properties</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fbe2423a-613c-4766-8549-94ebb66cffc9",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Social Media Property\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>