<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b5def7d-84dd-42f0-87fd-00f751ea3210" Alias="Block List for Block Builder" Level="1">
  <Info>
    <Name>Block List for Block Builder</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/copy.png",
      "contentElementTypeKey": "4244e13e-1b3e-4ad7-a91e-b2a7a66665c9",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Copy\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/hero.png",
      "contentElementTypeKey": "bf45efa1-eb84-4933-a0c4-4a3d3082256f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Hero\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/cards.png",
      "contentElementTypeKey": "5b360445-add2-40f3-8ba2-fb55314d5e4d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Cards\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/columnsWithIcons.png",
      "contentElementTypeKey": "efece4b9-06fe-4842-8c15-94c69fa58286",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Columns with Icons\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/iconGrid.png",
      "contentElementTypeKey": "58149b2e-8d40-4f5f-9882-43c0a39a7c7b",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Icon Grid\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/container.png",
      "contentElementTypeKey": "c54be3a0-7fee-47f1-8c12-0b0907b0f76b",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"Container\"}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/backoffice/html.png",
      "contentElementTypeKey": "ac2518f9-06be-4b57-94a0-c2a6588115cf",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label||\"HTML\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>