<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6897f3-22be-449d-96b6-40b48c59071b" Alias="Block List for Navigation" Level="1">
  <Info>
    <Name>Block List for Navigation</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b83a18ed-4984-47a8-8a93-1527ba2b7911",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{link[0].name || \"Link\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5fdf9442-fc8d-4f83-beaa-7ea49718da75",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label || \"Dropdown\"}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>