<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b5541ba-2a1d-46a1-97ca-673a497355c8" Alias="Media Picker for Hero" Level="1">
  <Info>
    <Name>Media Picker for Hero</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": false,
  "ValidationLimit": {
    "min": 0,
    "max": 1
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": true,
  "Crops": [
    {
      "alias": "xl",
      "label": "Largest",
      "width": 1000,
      "height": 1000
    },
    {
      "alias": "l",
      "label": "Large",
      "width": 800,
      "height": 800
    },
    {
      "alias": "m",
      "label": "Default",
      "width": 600,
      "height": 600
    },
    {
      "alias": "s",
      "label": "Small",
      "width": 400,
      "height": 400
    },
    {
      "alias": "xs",
      "label": "Smallest",
      "width": 200,
      "height": 200
    }
  ]
}]]></Config>
</DataType>