<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af3c2d8a-3d02-458d-9aa9-7198be0630b6" Alias="Radio button list for Hero Image Position" Level="1">
  <Info>
    <Name>Radio button list for Hero Image Position</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Top"
    },
    {
      "id": 2,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Bottom"
    },
    {
      "id": 4,
      "value": "Left"
    }
  ]
}]]></Config>
</DataType>