<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebd264ac-c871-4614-a7e0-497b36dd9ad0" Alias="Tags for SEO" Level="1">
  <Info>
    <Name>Tags for SEO</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "seo",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>