<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a427183-5d7b-49d6-9b99-22a843f6c637" Alias="Adobestock 430677913" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock430677913</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 430677913" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qvyfect1/adobestock_430677913.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>