<?xml version="1.0" encoding="utf-8"?>
<Media Key="78242bf2-f68e-42ae-bf3a-d21f1bf6ec0d" Alias="Adobestock 182111880" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock182111880</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 182111880" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4qvdi4eo/adobestock_182111880.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>