<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fc3a24b-0c84-4844-9200-19d8122261ca" Alias="Adobestock 501864681" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501864681</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501864681" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jwrmgp2e/adobestock_501864681.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>