<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c84c49f-42e6-40a5-a321-bae7fee108a2" Alias="Adobestock 233392442" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock233392442</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 233392442" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/thciilhg/adobestock_233392442.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>