<?xml version="1.0" encoding="utf-8"?>
<Media Key="b47b59e4-3f23-4820-a238-07981219066c" Alias="Adobestock 491862201" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock491862201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 491862201" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2jmhxnbd/adobestock_491862201.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>