<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cd5bd4e-ebe2-4435-b1ca-0182b878a60a" Alias="Adobestock 501845307" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501845307</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501845307" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jc4nlhhc/adobestock_501845307.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>