<?xml version="1.0" encoding="utf-8"?>
<Media Key="9921cf27-4836-40e7-a64a-95efafebb085" Alias="Adobestock 226524206" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock226524206</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 226524206" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ehhddgjw/adobestock_226524206.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>