<?xml version="1.0" encoding="utf-8"?>
<Media Key="d52693f5-faa0-4def-897d-9b8a85d74391" Alias="Adobestock 273162497" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock273162497</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 273162497" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4ojdnvna/adobestock_273162497.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>