<?xml version="1.0" encoding="utf-8"?>
<Media Key="aeae470d-7700-4b2a-aa7c-d9fc6fa45593" Alias="Adobestock 501846200" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501846200</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501846200" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bndl3lqa/adobestock_501846200.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>