<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb9fe5b6-d441-4340-b0a8-a7eb362e11ce" Alias="Adobestock 501865220" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501865220</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501865220" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wdsj540b/adobestock_501865220.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>