<?xml version="1.0" encoding="utf-8"?>
<Media Key="41e0278e-f979-48b6-9b8d-8fd20d9c2017" Alias="Adobestock 439486161" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock439486161</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 439486161" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ratpaqlz/adobestock_439486161.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>