<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e82feea-6d0d-4154-a27e-26c54de84793" Alias="Adobestock 486979102" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock486979102</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 486979102" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3t5iexqn/adobestock_486979102.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>