<?xml version="1.0" encoding="utf-8"?>
<Media Key="c071a19e-70d8-46a6-ab9f-a1f1a5d913b4" Alias="Adobestock 501865132" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501865132</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501865132" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tcqhdqgy/adobestock_501865132.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>