<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f3dd913-b7e2-48e5-b7ea-42a22e2cc09b" Alias="Adobestock 501864815" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501864815</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501864815" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cxmd1h5c/adobestock_501864815.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>