<?xml version="1.0" encoding="utf-8"?>
<Media Key="169a53fa-c867-4432-a5b0-ea6bece112f3" Alias="Adobestock 108932478" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock108932478</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 108932478" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5rjjufth/adobestock_108932478.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>