<?xml version="1.0" encoding="utf-8"?>
<Media Key="234f6c63-2b22-441d-a4d6-228d48166e06" Alias="Adobestock 89865661" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock89865661</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 89865661" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mvwe4izc/adobestock_89865661.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>