<?xml version="1.0" encoding="utf-8"?>
<Media Key="0acc2da9-750d-40bb-bbe9-403c6f08b2cc" Alias="Adobestock 277892649" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock277892649</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 277892649" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v2wnycqn/adobestock_277892649.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>