<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d7bd1cd-88c4-4b54-bd2b-a0bdba77226f" Alias="Adobestock 501893296" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock501893296</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:14</CreateDate>
    <NodeName Default="Adobestock 501893296" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zpihwxoe/adobestock_501893296.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>