<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e6a8e24-0d6f-41dc-948f-e50f3214007b" Alias="Adobestock 420384561 Editorial Use Only" Level="2">
  <Info>
    <Parent Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b">Stock Images</Parent>
    <Path>/StockImages/Adobestock420384561EditorialUseOnly</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-02T13:48:13</CreateDate>
    <NodeName Default="Adobestock 420384561 Editorial Use Only" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ekhguxtp/adobestock_420384561_editorial_use_only.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>