<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1ba8b74-494d-48ea-872b-44bb07ad47d5" Alias="Screenshots" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshots</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-02T15:25:29</CreateDate>
    <NodeName Default="Screenshots" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>