<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d8eb289-34a5-4a7e-b64f-8a10bd7b6d6b" Alias="Stock Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StockImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-08-02T13:46:22</CreateDate>
    <NodeName Default="Stock Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>