<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efece4b9-06fe-4842-8c15-94c69fa58286" Alias="columnsWithIcons" Level="2">
  <Info>
    <Name>Columns with Icons</Name>
    <Icon>icon-item-arrangement color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Multiple columns; each includes an icon, heading, paragraph, and call to action.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d923273e-9e76-48d2-96d3-3fa4a8fe61dd</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="columnsWithIcons">Columns with Icons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>176a777b-ae6b-4125-89df-f880da072823</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Label this block so it's easy to find in the block list.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="columnsWithIcons">Columns with Icons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ebfd9d24-5f05-4148-8c99-3664c2eb81cb</Key>
      <Caption>Columns with Icons</Caption>
      <Alias>columnsWithIcons</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>