<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4244e13e-1b3e-4ad7-a91e-b2a7a66665c9" Alias="copy" Level="2">
  <Info>
    <Name>Copy</Name>
    <Icon>icon-font color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Short or long-form copy.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44e05b04-4f75-4d17-a19e-47588b588036</Key>
      <Name>Copy</Name>
      <Alias>Content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Required) Write short or long-form copy.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="copy">Copy</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eeddab1d-3bda-441a-88d5-ff9d5f366011</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Label this block so it's easy to find in the block list.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="copy">Copy</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08438fc7-cf10-4897-bda5-10dde1ff77ce</Key>
      <Caption>Copy</Caption>
      <Alias>copy</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>