<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="acdd8d0c-7c56-4bac-9fe5-d9e95ffb0927" Alias="hasBlockBuilder" Level="2">
  <Info>
    <Name>Has Block Builder</Name>
    <Icon>icon-brick color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition to add a block-based builder for content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0e61d751-accc-4085-9962-469041fb6218</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>1b5def7d-84dd-42f0-87fd-00f751ea3210</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Build content for your web page using a set of pre-defined blocks.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d35e9d7b-68f8-4a27-a02e-5a8ff7f9c7b8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>