<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18e6fcbb-1e4b-478d-8e95-a402009aadc5" Alias="hasSocial" Level="2">
  <Info>
    <Name>Has Social</Name>
    <Icon>twitter color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition to add metadata related to social media (Open Graph).</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>38e46cb3-b22e-4401-a0e8-5511af1e08a8</Key>
      <Name>Open Graph</Name>
      <Alias>openGraph</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="forSocialMedia/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae4c28e1-e709-40ef-be6a-3b8cb14c9d40</Key>
      <Name>Twitter</Name>
      <Alias>twitter</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="forSocialMedia/twitter">Twitter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b33ff2bf-f899-4002-990e-1e23ff5ad13d</Key>
      <Caption>Open Graph</Caption>
      <Alias>forSocialMedia/openGraph</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>87df83f8-6909-4b8d-8e87-9c93cc81083a</Key>
      <Caption>Twitter</Caption>
      <Alias>forSocialMedia/twitter</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8db0b83b-75fd-487d-b80f-6ca4f1c710ca</Key>
      <Caption>For Social Media</Caption>
      <Alias>forSocialMedia</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>