<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b83a18ed-4984-47a8-8a93-1527ba2b7911" Alias="navigationLink" Level="3">
  <Info>
    <Name>Navigation Link</Name>
    <Icon>icon-link color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A single link.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82380c70-c073-482d-8faa-053ba0041a99</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Required) Provide a link.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="link">Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>606028e7-9697-4402-8591-525f7e624142</Key>
      <Caption>Link</Caption>
      <Alias>link</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>