<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="844da476-af79-4110-8fad-805c199d15a0" Alias="webPage" Level="1">
  <Info>
    <Name>Web Page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Most web pages will be created with this document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="acdd8d0c-7c56-4bac-9fe5-d9e95ffb0927">hasBlockBuilder</Composition>
      <Composition Key="ac0ff308-b5b2-4374-bfea-926302a51f9c">hasSEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4ed21a7-40f6-4c35-87d9-89074ae49e4c">Json</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="844da476-af79-4110-8fad-805c199d15a0" SortOrder="0">webPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>