<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a848c01-96f8-498c-99f7-7c24ec1ffca2" Alias="webSite" Level="1">
  <Info>
    <Name>Web Site</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The home page of a web site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="acdd8d0c-7c56-4bac-9fe5-d9e95ffb0927">hasBlockBuilder</Composition>
      <Composition Key="ac0ff308-b5b2-4374-bfea-926302a51f9c">hasSEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eb6176ec-4b07-4b1c-b3c1-d0b0b4e4c540" SortOrder="0">webSiteSettings</ContentType>
    <ContentType Key="844da476-af79-4110-8fad-805c199d15a0" SortOrder="1">webPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>