<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb6176ec-4b07-4b1c-b3c1-d0b0b4e4c540" Alias="webSiteSettings" Level="1">
  <Info>
    <Name>Web Site Settings</Name>
    <Icon>icon-umb-settings color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Various settings for a web site.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4ed21a7-40f6-4c35-87d9-89074ae49e4c">Json</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>af678b79-1424-4acc-87d1-7208b08d87da</Key>
      <Name>Social Media Properties</Name>
      <Alias>properties</Alias>
      <Definition>c647f3c3-db6f-46de-b5b0-1f080155666b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3054ec3-04a4-4aaf-a552-c5659bdb94bd</Key>
      <Name>Navigation</Name>
      <Alias>settingsNavigation</Alias>
      <Definition>0b6897f3-22be-449d-96b6-40b48c59071b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Help visitors find content quickly and easily. These links will be featured in the header of the site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ac5dec84-be4e-4872-a4ae-c2635abd44dd</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9274e22a-afd1-4e99-974a-5ab5ea6e5ab7</Key>
      <Caption>Social Media</Caption>
      <Alias>socialMedia</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>