
<div class="columnsWithIcons">
	<p>Heading</p>
	<hr>
	<div>
		<div>
			<img src="//picsum.photos/32/32" alt="">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eligendi consequuntur eaque perferendis facilis accusantium cumque harum suscipit natus, optio totam, sunt atque maxime aspernatur! Facere magnam cum veritatis blanditiis!</p>
			</div>
			<a href="#">Call to Action</a>
		</div>
		<div>
			<img src="//picsum.photos/32/32" alt="">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eligendi consequuntur eaque perferendis facilis accusantium cumque harum suscipit natus, optio totam, sunt atque maxime aspernatur! Facere magnam cum veritatis blanditiis!</p>
			</div>
			<a href="#">Call to Action</a>
		</div>
		<div>
			<img src="//picsum.photos/32/32" alt="">
			<div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eligendi consequuntur eaque perferendis facilis accusantium cumque harum suscipit natus, optio totam, sunt atque maxime aspernatur! Facere magnam cum veritatis blanditiis!</p>
			</div>
			<a href="#">Call to Action</a>
		</div>			
	</div>
</div>